:root {
 --bg-secundary: #ffffff;
 --action-color: #ff7d1b;
 --text-font-primary: #1e1f23;
 --text-font-secundary: #df9a60;
 --text-font-tree: #c3c2c4;
 --color-button: #f5f8fe;
}

header {
 background-color: var(--bg-secundary);
 color: var(--text-font-tree);
 height: fit-content;
 position: sticky;
 top: 0;
 z-index: 1;
 display: flex;
 justify-content: space-around;
}

header nav ul {
 margin: 0 auto;
 width: fit-content;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 0.5rem;
 padding: 0 2rem;
 margin-top: 1rem;
 margin-bottom: 1rem;
}

header nav ul li:hover {
  color: var(--action-color);
  transition: ease 0.2s;
}

header div {
 display: flex;
 align-items: center;
 list-style: none;
 gap: 2rem;
}

header nav ul li {
 min-width: fit-content;
 height: fit-content;
 padding: 0 0.75rem;
 font-size: small;
 cursor: pointer;
 list-style: none;
}

 hr {
 border: solid var(--text-font-tree) 0.1px;
 margin: auto;
 margin-top: 1.5rem;
 width: 74vw;
 text-align: center;
}

.profile {
 height: 45px;
 width: 45px;
 border: 2px solid var(--action-color);
 border-radius: 100%;
 cursor: pointer;
}

/* estilizando a secao main e todos seus elementos filhos */

main {
  margin: 3rem 18% 0;
  display: flex;
  gap: 3rem;
}

.icon_close {
  display: none;
  position: sticky;
  left: 67%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Defina um valor de z-index alto para garantir que esteja acima de todos os outros elementos */
}

.showProduct {
  text-align: center;
  margin: 0 auto;
  z-index: 10000;
}


.showProduct-img {
  display: block;
  max-width: 500px;
  max-height: 500px;
  border-radius: 16px;
  cursor: pointer;
}

.thumbNails-images {
  display: flex;
  gap: 1em;
  margin-top: 2rem;
  cursor: pointer;
}

.thumbnail {
  height: 110px;
  width: 110px;
  border-radius: 10px;
}

.showProduct-text {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem;
  max-height: 360px;
  width: 650px;
}
h3 {
  color: #da9256;
  font-size: small;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.showProduct-text__description {
  color: var(--text-font-tree);
  font-size: small;
}

.price {
  display: flex;
  gap: 1rem;
}

.price--value {
  background-color: #facaa4;
  color: var(--action-color);
  border-radius: 8px;
  padding: 1px;
}

.price--value_off {
  color: var(--text-font-tree);
}

.showProduct-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.next__previous {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showButton-previous, .showButton-next {
  background-color: var(--color-button);
  color: var(--action-color);
  height: 2.5rem;
  width: 40px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.showButton-zero {
  background-color: var(--color-button);
  color: var(--text-font-primary);
  height: 2.5rem;
  width: 40px;
  border-radius: 10px;
  border: none;
}
.showButton-add {
  background-color: var(--action-color);
  height: 2.5rem;
  width: 350px;
  border: none;
  border-radius: 8px;
  color: var(--bg-secundary);
  gap: 0.5rem;
  cursor: pointer;
}

.showButton-add:hover {
  background-color: #fa8b35;
  transition: ease 0.2s;
}
.cart {
  cursor: pointer;
}
.area-carrinho {
  display: flex;
  padding: 1em;
  background-color: #ffffff;
  color: var(--text-font-primary);
  box-shadow: 2px 2px 2px #888888;
  width: 15rem;
  border-radius: 10px;
  font-size: 18px;
  text-align: start;
  display: none;
  position: fixed;
  top: 3rem;
  left: 75%;
}

.carrinho-vazio {
  border-bottom: 1px solid #313131;
}

.area-carrinhoVazio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.area-conteudo_carrinho {
  height: 2rem;
  margin: 5px;
}
.area-img_conteudo {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.area-conteudo_carrinho__itens {
  gap: 20px;
}

.area-conteudo_texto {
  font-size: 8px;
}
